/* Importing a Google Font */
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

/* Changing the main font and background colour */

body {
	font-family: Pangolin, sans-serif;
	background-color: #fffcf8;
	background-color: #fff0e0;
}

/* Changing the background colour for the header */

header {
	background-color: #95A387;
}

/* Changing the background color for the navigation bar */

.navbar {
	background-color: #95A387;
}

/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
}

/* Corporate navbar */

#navbar-corporate a.active {
	color: #800000;
	font-weight: bold;
}

/* Hero Section shadow */

.white-shadow {
	text-shadow: -.01em -.01em .01em white,
		.02em .02em .02em white,
		0 0 .2em white,
		0 0 .5em white;
}

.card-img-custom {
	width: 100%;
	object-fit: cover;
	height: 400px;
 }

.cover-img {
  width: 100%;
  height: auto;
  display: block;
}

.btn-change-color {
  color: #95A387;
  border-color: #95A387;
  transition: background-color 0.3s, color 0.3s;
}

.btn-change-color:hover {
  background-color: #95A387;
  color: #fff;
}

.custom-green-btn {
  background-color: #95A387; /* Bootstrap's 'success' green */
  color: #fff;
  border: 1px solid #95A387;
  transition: background-color 0.3s, color 0.3s;
}

.custom-green-btn:hover {
  background-color: transparent;
  color: #95A387;
  border: 1px solid #95A387;
}


.carousel-caption {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.3); /* Optional: adds slight dark overlay for readability */
  color: #fff;
}

.quote-text {
  font-size: 2rem;
  font-weight: 600;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
  max-width: 90%;
}

